= form_tag external_path(resource), :class => "simple_form external", :html => {:multipart => true }, :method => :put do
  = simple_fields_for resource do |f|
    = f.association :author, :as => :hidden
    = f.association :external_content_kind, :as => :hidden
    = f.input :title
    = f.input :content
    = f.input :url_title
    = f.input :url
    = f.input :photo
    .input.optional
      - if resource.photo.file?
        %label= t("existing_image")
        = image_tag resource.photo.url(:small)
        - if can? :update, ExternalContent
          .destroy-photo
            = link_to "Odstrani fotografijo", destroy_photo_external_path(resource)
    = f.submit