%section
  = title "PripomoÄki"
  = helpster("tools")
  - if can? :create, Tool
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj pripomoÄek", new_resource_path

  - for post in collection
    %article
      %h3.title= link_to post.title, post
      = render "common/trunc_redcloth_it", :content => post.content, :length => 120
%aside