= simple_form_for [parent, resource] do |f|
  = f.association :ingredient, :prompt => "Izberite sestavino", :label_method => :name
  %p
    = f.input :quantity
    = f.association :unit, :prompt => "Izberite enoto", :label_method => :name
  = f.input :weight_in_grams
  
  = f.button :submit