%section
  = title resource

  - if can?(:update, resource) or can?(:destroy, resource) or can?(:create, Photo)
    %nav#editors-resource-menu
      %ul        
        - if can? :update, resource
          %li= link_to "Uredi skupino sestavin", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani skupino sestavin", resource, :method => :delete, :confirm => destroy_confirmation(resource)
        - if can? :create, Photo
          %li= link_to "Dodaj fotografijo", new_ingredient_group_photo_path(resource)
  
  #basic-info
    = render "common/photo", :resource => resource

  #related-info  
    - if resource.ingredients.any?
      .field
        .description Sestavine v skupini
        .value
          %ul= render resource.ingredients

    - if resource.ingredients.any?
      .field
        .description Recepti, ki vsebujejo sestavino iz skupine
        .value
          %ul= render @recipes_for_ingredient_groups

  = link_to_back

%aside