= title resource

#resource-menu
  - if can? :manage, [UserKind, AccessRight]
    = link_to "Uredi vrsto uporabnika", edit_resource_path
    = link_to "Odstrani vrsto uporabnika", resource, :method => :delete, :confirm => destroy_confirmation(resource)
    = link_to "Dodaj pravice uporabniku", new_user_kind_access_right_path(resource)

- if resource.access_rights.any?
  = render "access_rights/access_right", :collection => resource.access_rights


= link_to_back