= title resource

#resource-menu
  - if can? :update, resource
    = link_to "Uredi proizvajalca", edit_resource_path
  - if can? :destroy, resource
    = link_to "Odstrani proizvajalca", resource_path, :method => :delete, :confirm => destroy_confirmation(resource)

#basic-info
  #description-bar
    .field
      .description Naziv podjetja
      .value= resource

#related-info
  - if resource.products.any?
    #product-list
      .description Produkti proizvajalca
      .value= products_link_list(resource)

= link_to_back