%section
  = title resource.title

  - if can?(:update, resource) or can? (:destroy, resource)
    %nav#editors-resource-menu
      %ul
        - if can? :update, resource
          %li= link_to "Uredi zapis", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani zapis", resource_path, :method => :delete, :confirm => destroy_confirmation(resource)
      

  #basic-info
    #description-bar
      .description= RedCloth.new(resource.content).to_html.html_safe if resource.content.present?

  = link_to_back
%aside