%section
  = title resource

  - if can?(:update, resource) or can?(:destroy, resource)
    %nav#editors-resource-menu
      %ul
        - if can? :update, resource
          %li= link_to "Uredi vrsto vina", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani vrsto vina", resource, :method => :delete, :confirm => destroy_confirmation(resource)

  #short-summary= resource.description

  - if resource.wines.any?
    %h3 Vina te skupine
    = wines_link_list(resource)
%aside