#related-info
  - if resource.recipe_ingredients.any?
    #ingredient-list
      %h2 Sestavine
      %ul.ingredient-list
        - for recipe_ingredient in @recipe_info.recipe.recipe_ingredients
          - ingredient, quantity_unit = recipe_ingredient.info
          %li
            - if params[:ingredient_tokens].present? and params[:ingredient_tokens][:ingredient].present?
              - unless params[:ingredient_tokens][:ingredient].split(',').collect{|i| i.to_i }.include?(ingredient.id)
                %span.missing ✗
              
            = link_to(ingredient, recipe_recipe_ingredient_path(@recipe_info.recipe.id, recipe_ingredient.id) )
            = quantity_unit
            - if can? :destroy, RecipeIngredient 
              = link_to "Odstrani", recipe_recipe_ingredient_path(@recipe_info.recipe, recipe_ingredient), :method => :delete, :confirm => destroy_confirmation(recipe_ingredient)
            - if can? :update, RecipeIngredient 
              = link_to "Uredi", edit_recipe_recipe_ingredient_path(@recipe_info.recipe, recipe_ingredient)

  - if resource.recipe_kinds.any?  
    #recipe-kinds
      %h2 Vrste receptov
      = recipe_kinds_link_list(@recipe_info.recipe)
      
  #calories-calculation
    %span Število kalorij
    = @recipe_info.calories_per_meal
      
  #price-calculation
    %span Cena recepta
    = @recipe_info.price
  
  - if @recipe_info.wines_added?  
    #recipe-wines
      %span
        = @recipe_info.wine_author
        k jedi priporoča
      = link_to @recipe_info.wine.wine, @recipe_info.wine.wine
