%section
  = title "Recepti"

  - if can?(:create, Recipe) or admin?
    %nav#editors-resource-menu
      %ul
        - if can?(:create, Recipe)
          %li= link_to "Dodaj recept", new_resource_path
    
  %nav#resource-menu
    %ul
      %li= link_to "Prenesi pdf", recipes_path("pdf")  

  = render "common/recipe_search"
  %ul.alphabetical-index
    - for initial in @initials
      %li= link_to initial, recipes_path(:initial => initial, :recipe_page => params[:recipe_page])
    
  = render "common/recipe_pagination", :collection => collection
  = render "recipes/recipe_details", :recipes => collection
  = render "common/recipe_pagination", :collection => collection
%aside