= title resource

#author
  .description Avtor
  .value= @recipe_info.authors_full_name
  .authors_picture= render "common/small_photo_link", :resource => @recipe_info.author

= render "navigation"
= render "basic_info"
= render "related_info"

- if @recipe_info.summary.present?  
  #summary
    /.description Povzetek
    .value= @recipe_info.summary

- if @recipe_info.preparation.present?  
  #preperation
    .description Priprava
    .value= @recipe_info.preparation

- if @recipe_info.suggestion.present?  
  #suggestion
    .description Sugestije
    .value= @recipe_info.suggestion

= link_to_back