%section
  = title resource

  #author
    .description Avtor
    .value tole se bo spremenilo
  
  = render "navigation"
  = render "basic_info"
  = render "related_info"

  - if @recipe_info.summary.present?  
    %p.summary
      = @recipe_info.summary

  - if @recipe_info.preparation.present?  
    #preperation
      %h2 Priprava
      = RedCloth.new(@recipe_info.preparation).to_html.html_safe if @recipe_info.preparation.present?

  - if @recipe_info.suggestion.present?  
    #suggestion
      %h2 Sugestije
      = RedCloth.new(@recipe_info.suggestion).to_html.html_safe if @recipe_info.suggestion.present?

  = link_to_back
%aside