%section
  = title resource
  
  = render "navigation"
  .photos
    - if @recipe_info.photos_added?
      = link_to image_tag( @recipe_info.photos_url(:big) ), @recipe_info.photos_url(:original)
    - else
      = render "common/default_big_recipe_pic", :recipe_name => resource
  = render "related_info"

  - if @recipe_info.summary.present?  
    %p.summary
      = @recipe_info.summary

  - if @recipe_info.preparation.present?  
    #preperation
      %h2 Priprava
      = render "common/redcloth_it", :content => @recipe_info.preparation

  - if @recipe_info.suggestion.present?  
    #suggestion
      %h2 Sugestije
      = render "common/redcloth_it", :content => @recipe_info.suggestion

  %nav#resource-menu
    %ul
      %li= link_to "Prenesi pdf", recipe_path(resource, "pdf")

  - if @recipe_info.origin_added?
    #author
      Avtor recepta je
      = @recipe_info.origin

  = render "common/add_recipe_to_users_cookies"

  = link_to_back
%aside