%section
  = title "Pregled uporabnika"

  = render "common/update_destroy_resource_photo_menu", :resource => resource, :new_photo_path => new_user_photo_path(resource)
  = render "common/single_photo", :resource => resource
  
  .field
    .description Ime in priimek
    .value= resource.full_name
  
  .field
    .description Elektronska pošta
    .value= resource.email
  
  .field
    .description Vrsta uporabnika
    .value= resource.user_kind

  - if resource.user_kind and resource.access_rights.any?
    = render "access_rights/access_right", :collection => resource.access_rights

  = link_to_back
%aside