= title "Sestavine"

#resource-menu
  - if can? :create, Ingredient
    = link_to "Dodaj sestavino", new_resource_path

#search
  = form_tag ingredients_path, :method => 'get' do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Poišči sestavino", :name => nil
      
= collection_list_renderer(collection)
