%section
  = title resource

  = render "common/update_destroy_resource_photo_menu", :resource => resource, :new_photo_path => new_ingredient_photo_path(resource)  
  
  .ingredient_photo
    = render "common/single_photo", :resource => resource
  
  #ingredient-info
    %p 
      Št. kalorij na 100g
      = resource.calories

    - if resource.description.present?
      %p
        Opis sestavine
        = resource.description
    
    - if resource.ingredient_groups.any?
      %h3 Sestavino najdemo v slednjih skupinah sestavin
      %ul= render resource.ingredient_groups
  
  #related_recipes  
    - if resource.recipes.any?
      %h3 Jedi, ki vsebujejo sestavino
      = render "recipes/recipe_details", :recipes => resource.recipes.uniq

  = link_to_back
%aside