%section
  = title resource

  - if can?(:update, resource) or can?(:destroy, resource) or can?(:create, Photo)
    %nav#editors-resource-menu
      %ul
        - if can? :update, resource
          %li= link_to "Uredi sestavino", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani sestavino", resource, :method => :delete, :confirm => destroy_confirmation(resource)
        - if resource.photos.empty? and can? :create, Photo
          %li= link_to "Dodaj fotografijo", new_ingredient_photo_path(resource)
        - else
          %li= link_to "Odstrani fotografijo", photo_path(resource.photos.last), :method => :delete, :confirm => destroy_confirmation(resource.photos.last)

  .ingredient_photo
    = render "common/photo", :resource => resource
  
  #ingredient-info
    %p 
      Št. kalorij na 100g
      = resource.calories

    - if resource.description.present?
      %p
        Opis sestavine
        = resource.description
    
    - if resource.ingredient_groups.any?
      %h3 Sestavino najdemo v slednjih skupinah sestavin
      %ul= render resource.ingredient_groups
  
  #related_recipes  
    - if resource.recipes.any?
      %h3 Jedi, ki vsebujejo sestavino
      = render "recipes/recipe_details", :recipes => resource.recipes.uniq

  = link_to_back
%aside