%section
  = render "common/recipe_search"

  - if @top_5_recipes.any?
    - for recipe in @top_5_recipes
      %hr.ir
      %article
        - if recipe.photos.any?
          = link_to image_tag(recipe.photos.first.photo.url(:small_slice), :class => "recipe_pic"), recipe    
        %header
          = link_to recipe.short_name, recipe_path(recipe), :class => "recipe_title"
          %p.recipe_summary= truncate(recipe.summary, :length => 120, :separator => ' ', :omission => '...')
          %p.tags
            %span Oznake:
            = recipe_kinds_as_tags(recipe)
          %p.recipe_price= "Obrok za #{ recipe.num_people } #{ case recipe.num_people; when 1 : "osebo"; when 2 : "osebi"; when 3..4 : "osebe"; else "oseb"; end } stane #{ number_to_currency(recipe.calculated_price, :precision => 2) }"
        %footer
          %ul
            %li.time_to_prepare
              = distance_of_time_in_words(recipe.time_to_prepare.minutes)
              %span Čas priprave
            %li.cooking_time
              = distance_of_time_in_words(recipe.time_to_cook.minutes)
              %span Čas kuhanja
            %li.calories= "#{number_with_precision recipe.number_of_kcal_per_meal, :precision => 3} kcal/osebo"
            
%aside
  = render "common/advanced_search"