%section
  = title "Dogodki"
  = helpster("events")
  
  - if can? :create, Event
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj dogodek", new_resource_path

  - for event in collection
    %article
      %h1.title= link_to event.title, event
      %p
        %strong Čas dogodka: 
        = l event.starting_at, :format => :nice
      %p
        %strong Kraj dogodka: 
        = event.location
      = render "common/trunc_redcloth_it", :content => event.content, :length => 120
%aside