%section
  = title "Dogodki"
  
  - if can? :create, Event
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj dogodek", new_resource_path

  - for event in collection
    %article
      %h1.title= link_to event.title, post
      %h2.location= event.location
      %h3.starting_at= event.starting_at
      .content= RedCloth.new(truncate(event.content, :length => 120, :separator => ' ', :omission => '...')).to_html.html_safe
%aside