= title resource

- if can?(:update, resource) or can?(:destroy, resource)
  %nav#editors-resource-menu
    %ul
      - if can? :update, resource
        %li= link_to "Uredi barvo vina", edit_resource_path
      - if can? :destroy, resource
        %li= link_to "Odstrani barvo vina", resource, :method => :delete, :confirm => destroy_confirmation(resource)
  
    
#short-summary= resource.description

#related-info
  - if resource.wines.any?
    .field
      .description Vina te skupine
      .value= wines_link_list(resource)