%section
  = title resource

  - if can?(:update, resource) or can? (:destroy, resource)
    %nav#editors-resource-menu
      %ul
        - if can? :update, resource
          %li= link_to "Uredi ponudnika", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani ponudnika", resource_path, :method => :delete, :confirm => destroy_confirmation(resource)
      

  #basic-info
    #description-bar
      .field
        .description Naziv ponudnika
        .value= resource

  = link_to_back
%aside