%section
  = title resource.full_name
  = render "common/update_destroy_resource_photo_menu", :resource => resource, :new_photo_path => new_recipe_author_photo_path(resource)
  = render "common/single_photo", :resource => resource
  
  - if resource.email.present?
    %p= mail_to resource.email
  
  = render "common/redcloth_it", :content => resource.about
  
  -if resource.url.present? and resource.url_title.present?
    %p= link_to resource.url_title, resource.url
  
  = link_to_back
%aside