%section
  = title resource

  #resource-menu
  - if can?(:update, resource) or can?(:destroy, resource)
    %nav#editors-resource-menu
      %ul
        - if can? :update, resource
          %li= link_to "Uredi enoto", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani enoto", resource, :method => :delete, :confirm => destroy_confirmation(resource)

  .field
    .description Dolgo ime
    .value= resource.name

  - if resource.short_name?
    .field
      .description Kratko ime
      .value= resource.short_name

  - if resource.convertable?
    .field
      .description Razmerje do kilograma
      .value= "1#{resource.name} = 1kg/#{resource.denominator}"

  = link_to_back
%aside
