%section
  = title resource
  
  = render "common/update_destroy_resource_photo_menu", :resource => resource, :new_photo_path => new_product_photo_path(resource)
  = render "common/single_photo", :resource => resource    
  
  
  #product
    .description Proizvajalec izdelka
    .value= resource.product_firm
  
  #product-name
    .description Naziv izdelka
    .value= resource

  #product-weight
    .description Količina
    .value= resource.quantity_title
      
      
  %h3 Sestavina izdelka
  = link_to resource.ingredient, resource.ingredient

  = link_to_back
%aside