= title resource

- if can?(:update, resource) or can?(:destroy, resource) or can?(:create, Photo)
  %nav#editors-resource-menu
    %ul
      - if can? :update, resource
        %li= link_to "Uredi izdelek", edit_resource_path
      - if can? :destroy, resource
        %li= link_to "Odstrani izdelek", resource_path, :method => :delete, :confirm => destroy_confirmation(resource)
      - if can? :create, Photo
        %li= link_to "Dodaj fotografijo", new_product_photo_path(resource)
  

#basic-info
  = render "common/photo", :resource => resource
  
  #description-bar
  
    #product
      .description Proizvajalec izdelka
      .value= resource.product_firm
      
    #product-name
      .description Naziv izdelka
      .value= resource
    
    #product-weight
      .description Količina
      .value= resource.quantity_title
      
      
#related-info
  .description Sestavina izdelka
  .value= link_to resource.ingredient, resource.ingredient

= link_to_back