%section
  = title resource.title

  = render "common/update_destroy_resource_photo_menu", :resource => resource, :new_photo_path => new_cooking_school_photo_path(resource)
  = render "common/single_photo", :resource => resource

  #basic-info
    = render "common/redcloth_it", :content => resource.content

  = link_to_back
%aside