.recipe-add-to-menu
  %h5 Dodaj v svoj meni
  %ul
    %li
      = link_to "Ponedeljek", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "mon")
    %li
      = link_to "Torek", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "tue")
    %li
      = link_to "Sreda", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "wed")
    %li
      = link_to "Četrtek", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "thu")
    %li
      = link_to "Petek", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "fri")
    %li
      = link_to "Sobota", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "sat")
    %li
      = link_to "Nedelja", add_day_and_recipe_to_menu_recipe_menu_path(:id => resource.id, :day => "sun")
  
