%section#advanced-search
  %h3 Napredno iskanje
  = form_tag advanced_search_recipes_path, :method => 'get' do
    %p
      Kaj kuhati za
      = text_field :specifics, :nr_of_people
      oseb?
    %p
      Naj bo cena med
      = text_field :specifics, :min_price
      in
      = text_field :specifics, :max_price
    %p
      Kcal naj bo med
      = text_field :specifics, :min_kcal
      in
      = text_field :specifics, :max_kcal
      
      -# todo text_field :max_kcal, :advanced_search, :max_kcal
    = submit_tag "Išči"