= form_tag recipes_path, :method => 'get' do
  %fieldset  
    %legend Napredno iskanje
    %div
      %label{ :for => "osebe"} Kaj kuhati za
      = text_field :specifics, :nr_of_people
      oseb?
    %div
      Naj bo cena med
      = text_field :specifics, :min_price
      in
      = text_field :specifics, :max_price
    %div
      Kcal naj bo med
      = text_field :specifics, :min_kcal
      in
      = text_field :specifics, :max_kcal
      
    = submit_tag "Išči"

