#footer-container
  %footer.wrapper
    %h3 Koristne povezave
    %nav#external-contents
      %ul
        - for kind in usable_external_content_kinds
          %li= link_to kind, kind
    
    %nav#external-sources
      %ul
        %li= link_to "Dobre gostilne", "http://www.dobre-gostilne.si/"
        %li= link_to "Stoletne gostilne", "http://stoletne-gostilne.pozoj.si/si/"

    %nav#page-related
      %ul
        %li= link_to "Pripomočki", tools_path
        %li= link_to "Pogrinjki", table_covers_path
        %li= link_to "Dobro je vedeti", know_its_path
        %li= link_to "Dogodki", events_path    

    %nav#page-info
      %ul
        %li= link_to "O nas", abouts_path
        %li= link_to "Komentiraj", new_comment_path
        %li= link_to "Kontakt", contacts_path
        %li= link_to "Pogoji uporabe", conditions_path

    %p &copy; Pozoj d.o.o.