%header.wrapper
  %h1.ir#title
    = link_to_span "Skuhajmo.si", root_path
  = link_to ("Oddaj recept <span>pridruži se nam s svojim receptom</span>").html_safe, new_original_recipe_path, :class => "large red awesome"
  
%nav#menu
  %ul
    %li= link_to "Recepti", recipes_path
    %li= link_to "Vina", wines_path
    %li= link_to "Sestavine", ingredients_path
    %li= link_to "Šola kuhanja", "#"
    %li= link_to "Zdravo", "#"
    %li= link_to "EKO", "#"
    %li= link_to "Nostalgija", "#"
    %li= link_to "Dobre gostilne", "#"
    
%br.clear
