- if user_signed_in?
  %div.admin
    - if [RecipeKind, IngredientGroup, Product, ProductFirm, Vendor, Unit, ExternalContentKind, AccessRight].collect {|m| can?(:manage, m)}.include?(true)
      %nav#admin_menu
        %h4 ADMINISTRATIVA
        %ul
          - if can? :manage, Comment
            %li= link_to "Uporabniški komentarji", comments_path
          - if can? :manage, OriginalRecipe
            %li= link_to "Uporabniški recepti", original_recipes_path
          - if can? :manage, Recipe
            %li= link_to "Upravljanje z recepti", manage_recipes_path
          - if can? :manage, RecipeKind
            %li= link_to "Vrste receptov", recipe_kinds_path
          - if can? :manage, IngredientGroup
            %li= link_to "Skupine sestavin", ingredient_groups_path
          - if can? :manage, Product
            %li= link_to "Izdelki", products_path
          - if can? :manage, ProductFirm
            %li= link_to "Proizvajalci", product_firms_path
          - if can? :manage, Vendor
            %li= link_to "Ponudniki", vendors_path
          - if can? :manage, Unit
            %li= link_to "Enote", units_path
          - if can? :manage, RecipeAuthor
            %li= link_to "Avtorji receptov", recipe_authors_path
          - if can? :manage, RecipeSourceKind
            %li= link_to "Vrste virov receptov", recipe_source_kinds_path
          - if can? :manage, RecipeSource
            %li= link_to "Viri", recipe_sources_path
          - if can? :manage, ExternalContentKind
            %li= link_to "Vrste zunanjih vsebin", external_content_kinds_path
          - if can? :manage, [User, AccessRight]
            %li= link_to "Uporabniške pravice", user_kinds_path
            %li= link_to "Uporabniki", users_path 

    #current-user
      Prijavljen
      = current_user
      = link_to "(Odjava)", destroy_user_session_path
- else
  = link_to "", new_user_session_path, :id => "login"
