#users-recipe-menu
  %table
    %thead
      %tr
        - @day_nr, @days_arr = Date.today.wday, ["Ponedeljek", "Torek", "Sreda", "Četrtek", "Petek", "Sobota", "Nedelja"]
        - @day_nr -=1 
        - for day in @days_arr
          - if (day == @days_arr[@day_nr]) or (@day_nr == -1)
            %td.current= day
          - else
            %td= day
    %tbody
      %tr
        %td= link_to @mon_recipe, @mon_recipe if @mon_recipe.present?
        %td= link_to @tue_recipe, @tue_recipe if @tue_recipe.present?
        %td= link_to @wed_recipe, @wed_recipe if @wed_recipe.present?
        %td= link_to @thu_recipe, @thu_recipe if @thu_recipe.present?
        %td= link_to @fri_recipe, @fri_recipe if @fri_recipe.present?
        %td= link_to @sat_recipe, @sat_recipe if @sat_recipe.present?
        %td= link_to @sun_recipe, @sun_recipe if @sun_recipe.present?
        
        
        
        
        