#users-recipe-menu
  - @daily_recipes.each do |daily_recipe_hash|
    %fieldset
      %legend= daily_recipe_hash[:day][1]
      
      .daily-menu
        .main-info
          = link_to daily_recipe_hash[:recipe], daily_recipe_hash[:recipe], :class => "recipe_title"
          .sestavine
            %span Sestavine:
            = daily_recipe_hash[:recipe].ingredients.join(", ")
        .cooking-info
          .time_to_prepare
            = distance_of_time_in_words(daily_recipe_hash[:recipe].time_to_prepare.minutes)
            %span Čas priprave
          .cooking_time
            = distance_of_time_in_words(daily_recipe_hash[:recipe].time_to_cook.minutes)
            %span Čas kuhanja
          .calories
            = "#{number_with_precision daily_recipe_hash[:recipe].number_of_kcal_per_meal, :precision => 3} kcal/osebo"
            %span Kilo kalorije
      
