%section
  = render "common/wine_menu"
  
  = title "Vina"

  - if can?(:create, Wine) or can?(:create, WineColor) or can?(:create, WineKind) or can?(:create, WineGroup)
    %nav#editors-resource-menu
      %ul
        - if can? :create, Wine
          %li= link_to "Dodaj vino", new_resource_path
        - if can? :create, WineColor
          %li= link_to "Dodaj barvo", new_wine_color_path
        - if can? :create, WineKind
          %li= link_to "Dodaj vrsto", new_wine_kind_path
        - if can? :create, WineGroup
          %li= link_to "Dodaj grupo", new_wine_group_path
  
  = collection_list_renderer(collection)

%aside