%section
  = title resource

  - if can?(:create, resource) or can?(:create, resource)
    %nav#editors-resource-menu
      %ul
        - if can? :update, resource
          %li= link_to "Uredi vino", edit_resource_path
        - if can? :destroy, resource
          %li= link_to "Odstrani vino", resource, :method => :delete, :confirm => destroy_confirmation(resource)

  #basic-info

    #description-bar
      #wine-color
        .description Barva vina
        .value= link_to resource.wine_color, resource.wine_color 

      #wine-kind
        .description Vrsta vina
        .value= link_to resource.wine_kind, resource.wine_kind

      #wine-group
        .description Skupina vin
        .value= link_to resource.wine_group, resource.wine_group
  
  #short-summary
    = resource.description

  #related-info
    - if resource.recipes.any?
      .field
        .description Jedi, h katerim paše vino
        .value
          = association_link_list(resource, "recipes")

  = link_to_back
%aside