%section
  = title resource

  = render "common/update_destroy_resource_photo_menu", :resource => resource, :new_photo_path => new_wine_photo_path(resource)
  = render "common/single_photo", :resource => resource    
  

  #wine-color
    .description Barva vina
    .value= link_to resource.wine_color, resource.wine_color 

  #wine-kind
    .description Vrsta vina
    .value= link_to resource.wine_kind, resource.wine_kind

  #wine-group
    .description Skupina vin
    .value= link_to resource.wine_group, resource.wine_group

  #short-summary
    = resource.description

  - if resource.recipes.any?
    .field
      .description Jedi, h katerim paše vino
      .value
        = render "recipes/recipe_details", :recipes => resource.recipes

  = link_to_back
%aside