!!!
%html
  %head
    %title= yield(:title).empty?? "Skuhajmo.si" : yield(:title)
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png"}  
    = stylesheet_link_tag 'compiled/screen', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    / = javascript_include_tag 'lib/jquery', 'lib/jquery-ui', 'lib/protovis', 'lib/jquery.form', 'lib/jquery-ui-timepicker', 'lib/jquery.uploadProgress', 'lib/rails', 'lib/rails-autocomplete', 'common/toggle', 'common/table_row_links', 'common/disable_submit_buttons','common/tooltip', 'common/nested_forms', 'i18n', 'translations', 'application', :cache => true
    / = csrf_meta_tag
    / :erb
    /   <script type="text/javascript">
    /     I18n.defaultLocale = "<%= I18n.default_locale %>";
    /     I18n.locale = "<%= I18n.locale %>";
    /   </script>
    = yield :javascripts
  %body{body_attrs}
    #head
      %h1
        = link_to_span "Skuhajmo.si", root_path
        
      #current_user
        - if user_signed_in?
          Prijavljen
          = current_user
          = link_to "(Odjava)", destroy_user_session_path
        - else
          = link_to "Prijava", new_user_session_path
          
      
    #content
      - unless flash.empty?
        #flash
          - flash.each do |key, value|
            %p.flash{:id => key}= value
      = yield
      %br
    #foot
      &copy; Pozoj d.o.o.